 <!-- image added -->
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
 <!-- FAVICON -->
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">
<title>Login Failed</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ url_for('static', filename='css/login_error.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
<div class="error-container">
<i class="fa-solid fa-lock"></i>
<h1>Login Failed</h1>
<p>check:- email or password</p>
<a href="{{ url_for('login') }}" class="btn">Try Again</a>
</div>
</body>
</html>